
body{
    background: #f2f2f2;   
}

div{
    font-family: 'Montserrat';
}

.page-title{
    margin-top: 20px;
    
    color:#f9a94b ;
    text-align:center;
    font-family: marvin-round,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}

.container-nav{
    margin-top: 30px;
    width: 50%;
}

.navbar{
    border: red solid 1px;
    
}



.navbar-brand{
    font-family: marvin-round,sans-serif;
    color:lightgrey;
    font-size: 1.5rem;
    border: green solid 1px;

}
.col{
    /* border: black solid 1px; */
    
}

.top-nav{
    /* border: blue solid 2px; */
    align-items: center;
    text-align: center;
    
}



a:hover{
    color: grey;
}

a:active{
    color: #f9a94b;
}

.pictures{
    /* border: solid 2px red; */
    margin-top: 20px;
}

.about-me{
    margin-top: 10px;
    color: grey;
    
}
h2{
    font-family: marvin-round,sans-serif;
    color: #f9a94b;
    text-align: left;
}
p{ 
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
}

.fa-cheese, .fa-drumstick-bite, .fa-heart{
    color: #f9a94b;
    font-size: 1.5rem;
}

.info-panel{
    /* border: black solid 2px; */
    max-height: fit-content;
}

.col-lg-5{
    border: green solid 2px;
}

.col-lg-7{
    border: yellow solid 2px;
   
}


.row-top{
    align-items: center;
    text-align: center;
    border: red solid 1px;
    height:70%;
}

.row-bottom{
    border: black solid 2px;
    height: 30%;
}

.col-md-3{
    border: blue solid 1px;
    
    text-align: center;
    color: gray;
    font-size: 2rem;
}

.text-now, .temp-now{
    font-size: 3rem;
    color: #f9a94b;
}

.rightpanel{
    /* margin-top: 20%; */
    /* width: 70%; */
    height: 100%;

}
.info-panel{
    /* margin-top: 20px; */
}

.col-md-6{
    border: red solid 2px;
}

.nopadding{
    padding:0;
}





